<ng-include src=" 'static/js/views/navbar.html'"></ng-include>

<div ng-if="agent" ng-includ="static/js/views/users/agent.js">
</div>

	
</div>

<div ng-show="prop" class="{{ prop.status_string }}">
	<img alt="" ng-src="{{ prop.property_image }}"/>
	<h3>{{ prop.name }}</h3>
	<p>{{ prop.address }}</p>
	<p>Property Status: {{ prop.status }}</p>
	<p>Issues: {{ prop.issues.length }}</p>
	<a href="/#/property/{{ prop.id }}">Info</a>
</div>

<ul ng-show="properties.props" ng-repeat="p in properties.props">

	<li class="{{ p.status_string }}">
		<img alt="" ng-src="{{ p.property_image }}"/>
		<h3>{{ p.name }}</h3>
		<p>{{ p.address }}</p>
		<p>Property Status: {{ p.status }}</p>
		<p>Issues: {{ p.issues.length }}</p>
		<a href="/#/property/{{ p.id }}">Info</a>
	</li>
	
</ul>

