body {
	margin-top: 70px;
}

.one {
	background-color: green;
/*    margin-right:2.5%;
    width:45%;
    float:left;
    overflow:hidden; */
}

.two {
	background-color: yellow;
/*    margin-right:2.5%;
    width:45%;
    float:left;
    overflow:hidden; */

}

.three {
	background-color: red;
 /*   margin-right:2.5%;
    width:45%;
    float:left;
    overflow:hidden; */

}

.oneP {
	background-color: green;
    margin-right:2.5%;
    overflow:hidden; 
}

.twoP {
	background-color: yellow;
    margin-right:2.5%;
    overflow:hidden; 

}

.threeP {
	background-color: red;
    margin-right:2.5%;
    overflow:hidden; 
}


#loginLogo {
	padding-bottom: 20px;
}


/* navbar */
.navbar-inverse {
	background-color: #2d3d4e;
	color: white;
}

.navbar-inverse .navbar-brand {
	color: white;
}
.navbar-inverse .navbar-nav > li > a {
	color: white;
}

/* Login  */

.loginForm {
	margin-top: 50px;
	border: 2px solid #2d3d4e;
	position: relative;
}

#loginLogo {
	position: absolute;
	top: -30%;
	left: 30%;
	z-index: 1;
}

#id_auth_form {
	padding-top: 70px;
	padding-bottom: 30px;
	padding-left: 40px;
	padding-right: 40px;
}

#loginBtn {
	background-color: #2d3d4e;	
	border-color: #2d3d4e;
	color: white;
}

nav {
}

/* Home View */

#createBtn {
	text-align: right;
	background-color: #2d3d4e;	
	border-color: #2d3d4e;
	color: white;
	margin-bottom: 10px;
}

#semiLogo {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100000;
}

.agentDiv {
	margin-bottom: 40px;
}

#propList > li {
	margin-top:10px;
}

.propGridItemPic {
	display: block;
	height: 150px;
	width: auto;
	margin-left: auto;
	margin-right: auto;
}

.propGridItm {
	border: 3px #2d3d4e solid;
	width: 350px;
	height: 200px;
	list-style: none;
}

/* property */
.calHold {
}

.tableInfo {
    margin-top:10px;
    clear:both;
}
